@import '../App/variables.scss';

.btn{
	padding: .7rem 0;
    box-shadow: 0px 10px 18px rgba(0,0,0,0.15);
}

.btn-outline-dark{
	background-color: #FFF;
}

.btn-dark,
.btn-outline-dark:hover{
    background-color: $dark;
}
