@import '../App/variables.scss';

#Service {
	position: relative;
	&:before {
		content: '';
	    position: absolute;
	    top: 0;
	    bottom: 50%;
	    left: 0;
	    right: 0;
	    z-index: -2;
	    background-image: url(./bg.png);
	    background-attachment: fixed;
	    background-position: center;
	    background-size: cover;
	}
	.card {
		border: none;
		margin: 0 5%;
		padding: 7% 0;
		box-shadow: 3px 3px 40px 0px $dark;
	}
}
