@import '../App/variables.scss';

.title {
    .line > span {
        height: 2px;
        width: 30px;
        display: block;
        margin: 0 1px;
        background-color: $dark;
	    &.small{
	        width: 8px;
	    }
    }
}