#Portfolio {
	* {
		transition: all .5s ease-in-out;
	} .project:not(.opened) {
		.image-info {
			background: #000;
			overflow: hidden;
			cursor: pointer;

		 	&:hover {
		 		img {
					opacity: .6;
					transform: scale(1.05);
				} .info {
					transform: translate(0,0);
				}
			} .info {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				transform: translate(0,100%);
		    }
		}
	} .project.opened {
		box-shadow: 3px 3px 40px 0px #212121;

		> div:first-child {
			padding: 0;
			.info {
				display: none;
			}
		} .all-info {
			opacity: 1;
			transition-delay: .6s;
		}
	} .all-info {
		position: absolute;
		top: 0;
		bottom: 0;
		opacity: 0;
		transition-delay: 0s;
	}
}
#Counter {
	position: relative;
	margin-top: 8%;
	padding: 5% 0;
	h1 {
		font-size: 6rem;
	}
	&:before {
		content: '';
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: -2;
	    background-image: url(./bg.png);
	    background-blend-mode: multiply;
	    background-attachment: fixed;
	    background-position: center;
	    background-size: cover;
    	background-color: rgba(0,0,0,.5);
	}
}
