.social .btn.rounded-circle {
  width: 3rem;
  height: 3rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  font-size: 1.3rem;
}

.social .btn.rounded-circle:hover {
  background: var(--dark);
}
