@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
} 

nav {
  transition: all .2s ease-in;
}

nav a {
  color: var(--dark) !important;
}

.navbar-dark {
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.15);
}

.navbar-dark a,
.navbar-dark a:hover,
.navbar-dark a:focus {
  color: #FFF !important;
  transition: all .3s;
}

.navbar-dark a:after{ background: #FFF; }

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.nav-link:after {
  content: '';
  display: block;
  background: var(--dark);
  width: 0;
  height: 2px;
  margin: auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-link:active, 
.nav-link:hover,
.current.nav-link {
  font-weight: 700;
}

.nav-link:active:after,
.current.nav-link:after {
  width: 100%;
}
