@import "../App/variables.scss";

Footer {
	.go-up {
		padding: .5rem 1rem;
	}
	.social .btn.rounded-circle{
		border-color: #FFF;
		color: #FFF;
		width: 2.5rem;
		height: 2.5rem;
		font-size: 1rem;
		&:hover {
			background-color: #FFF;
			color: $dark;
		}
	}
}