@import './variables.scss';

*{
    font-family: 'Cormorant', serif;
}

// BG COLOR
.bg-dark{
    background-color: $dark !important;
}

// COLORS
.text-dark{
    color: $dark !important;
}
.text-dark-light{
    color: $dark-light !important;
}
.text-gray{
    color: $gray !important;
}

// FONTS
.h1, h1{
    font-size: 3rem;
}
.h4, h4{
    font-size: 1.4rem;
}

// FONT WEIGHT
.font-weight-medium{
    font-weight: 500;
}
.font-weight-semi-bold{
    font-weight: 600;
}


.title {
    .line > span{
        height: 2px;
        width: 30px;
        display: block;
        margin: 0 1px;
        background-color: $dark;
    }
    .line > span.small{
        width: 8px;
    }
}
